// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// ul,
// li {
//   list-style: none;
// }

[name='slide'] {
  display: none; // hide input field
}

.slidebox {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  & img {
    max-width: 100%;
  }

  & .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
  }
  & .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-height: 500px;
    transition: all 0.35s;
    & label {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      padding: 20px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  label.left {
    left: 40px;
    background-color: white;
    background-image: url('../../chevron-left.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}

label.right {
  right: 50px;
  background-color: white;
  background-image: url('../../chevron-right.png');
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}
