.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.item {
  flex: 1;
  padding: 20px;
  text-align: center;
  color: #fff;
  background-color: #000;
}

input[id='menuicon'] {
  display: none;
}
input[id='menuicon'] + label {
  display: block;
  width: 3em;
  height: 3em;
  position: relative;
  cursor: pointer;
}
input[id='menuicon'] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background: #c10002;
  transition: all 0.35s;
}
input[id='menuicon'] + label span:nth-child(1) {
  top: 0.8em;
}
input[id='menuicon'] + label span:nth-child(2) {
  top: 1.5em;
  background: green;
  // transform: translateY(-50%);
}
input[id='menuicon'] + label span:nth-child(3) {
  top: 2.2em;
  background: blue;
  // bottom: 0;
}
